 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 937px;
}

.u-section-1 .u-list-1 {
  width: 1085px;
  margin: 16px auto 0 22px;
}

.u-section-1 .u-repeater-1 {
  min-height: 646px;
  grid-template-columns: calc(20% - 100px) calc(20% - 100px) calc(20% - 100px) calc(20% - 100px) calc(20% - 100px);
  grid-gap: 125px 125px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-18 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-19 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-19 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-container-layout-20 {
  padding: 0 0 5px;
}

.u-section-1 .u-btn-20 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px -12px 0;
  padding: 10px 9px 10px 7px;
}

.u-section-1 .u-btn-21 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 108px auto 0 370px;
}

.u-section-1 .u-btn-22 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px 362px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 579px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 170px;
  }

  .u-section-1 .u-btn-22 {
    margin-right: 162px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 83.3333px) calc(33.3333% - 83.3333px) calc(33.3333% - 83.3333px);
    min-height: 1386px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-22 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 62.5px) calc(50% - 62.5px);
    min-height: 2328px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}