 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 644px;
}

.u-section-1 .u-list-1 {
  width: 116px;
  margin: 10px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 621px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 26px 11px 24px;
}

.u-section-1 .u-container-layout-2 {
  padding: 9px 10px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 26px 11px 24px;
}

.u-section-1 .u-container-layout-3 {
  padding: 9px 10px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 26px 11px 24px;
}

.u-section-1 .u-container-layout-4 {
  padding: 9px 10px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 26px 11px 24px;
}

.u-section-1 .u-container-layout-5 {
  padding: 9px 10px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 26px 11px 24px;
}

.u-section-1 .u-container-layout-6 {
  padding: 9px 10px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 26px 11px 24px;
}

.u-section-1 .u-container-layout-7 {
  padding: 9px 10px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 26px 11px 24px;
}

.u-section-1 .u-container-layout-8 {
  padding: 9px 10px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 26px 11px 24px;
}

.u-section-1 .u-container-layout-9 {
  padding: 9px 10px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 26px 11px 24px;
}

.u-section-1 .u-container-layout-10 {
  padding: 9px 10px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 26px 11px 24px;
}